.add-discount-button {
  margin-left: "10px";
  width: 141px;
  height: 32px;
  border-radius: 4px 0px 0px 0px;
  border: 2px 0px 0px 0px;
  opacity: 0px;
  font-family: SF Pro Text !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  line-height: 20px !important;
  background: #008060 !important;
  color: white !important;
  text-transform: none !important;
  margin-left: 10px !important;
}
.add-discount-container {
  margin-top: 10px;
}

.discount-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 8px;
}

.discount-input {
  width: 100%;
}

.discount-dropdown {
  width: 100%;
}

.discount-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.cancel-button {
  color: #1976d2;
}
