.add-product-button {
  width: 193px !important;
  height: 48px !important;
  gap: 0px !important;
  border-radius: 4px 0px 0px 0px !important;
  border: 2px 0px 0px 0px !important;
  opacity: 0px !important;
  border: 2px solid #008060 !important;
  font-family: SF Pro Text !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  line-height: 20px !important;
  color: #008060 !important;
  margin-left: 210px !important;
  margin-top: 15px !important;
}
