.main-container {
  padding: 100px;
  padding-left: 305px;
  padding-top: 105px;
}

.heading {
  font-family: SF Pro Text;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.sub-heading {
  display: flex;
  align-items: center;
  display: flex;
  align-items: center;
  margin-left: 50px;
  margin-top: 30px;
}

.sub-heading1,
.sub-heading2 {
  margin: 0;
  font-size: 1.5rem;
  margin-right: 200px;
  font-family: SF Pro Text;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 10px;
}

.search-bar {
  display: flex;
}

.button-container {
  margin-top: auto;
  padding-top: 20px;
}
